/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 3, 2019, 12:19:09 PM
    Author     : frontend
*/


/*

> 0px   XS - NO NAME


> 576px SM - small devices



> 768px MD  - medium devices


> 992px  LG    large devices



> 1200px  XL   extra large devices

*/



@media( min-width:576px){
    
    
}




@media(min-width:768px){
    
    
    
    /*header style*/
    .navbar-dark .navbar-nav .nav-link {
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    border-bottom: 2px solid transparent;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
    background: transparent;
    color:#fff;
    border-bottom: 2px solid #fff;
}



/*About*/
.about .about-content{
    column-count: 2;
    column-gap: 44px;
}
    
    
}


@media(min-width:992px){
    
    /*header style*/
    .navbar-dark .navbar-nav .nav-item{
        margin-left: 30px;
    }
    
}


@media(min-width:1200px){
    
    
    
}



@media(min-width:1250px){
    
    .container{
        max-width: 1200px;
    }
    
    .container,
    .container-fluid{
        padding-left: 22px;
        padding-right: 22px;
    }
    
    .row{
        margin-left: -22px;
        margin-right: -22px;
    }
    
    .row > *{
        padding-left: 22px;
        padding-right: 22px;
    }
    
    
}